<ng-template [ngIf]="!isLoading">
  <div nz-row [nzGutter]="[0,24]">
    <div nz-col nzSpan="24">
      <nz-breadcrumb>
        <nz-breadcrumb-item routerLink="../">
          <i nz-icon nzType="home"></i>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item routerLink="{{editCampaignId?'../../..':'../..'}}/campaign">
          <a><i nz-icon nzType="notification"></i><span>Campaign</span></a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          {{editCampaignId ? 'Update Campaign' : 'Create Campaign'}}
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>
  <div nz-row [nzGutter]="[24,0]" [formGroup]="campaign" class="campaign-form">
    <div nz-col class="campaign-left" nzXs="24" nzSm="24" nzMd="10" nzLg="10" nzXl="8" nzXXl="8">
      <nz-card>
        <nz-form-item>
          <div>
            <nz-form-label nz-tab-label>Campaign Name</nz-form-label>
          </div>
          <nz-form-control nzErrorTip="Please enter campaign name">
            <input nz-input type="text" formControlName="CampaignName">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nz-tab-label>Campaign Owner</nz-form-label>
          <nz-select formControlName="BrandId" nzShowSearch nzPlaceHolder="Select brand">
            <nz-option *ngFor="let option of brandList" [nzLabel]="option.BrandName" [nzValue]="option.BrandId">
            </nz-option>
          </nz-select>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nz-tab-label>Start date</nz-form-label>
          <nz-date-picker [nzDisabled]="disableDate.startDate" class="w-100"
                          [nzDisabledDate]="disabledStartDate" [nzDisabledTime]="disabledStartDateTime"
                          nzShowTime
                          nzAllowClear="true" nzFormat="yyyy-MM-dd HH:mm:ss" ngModel
                          formControlName="Start_Date"></nz-date-picker>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nz-tab-label>End date</nz-form-label>
          <nz-date-picker [nzDisabled]="disableDate.endDate" class="w-100" [nzDisabledDate]="disabledEndDate"
                          [nzDisabledTime]="disabledEndDateTime"
                          nzShowTime nzAllowClear="true" nzFormat="yyyy-MM-dd HH:mm:ss" ngModel
                          formControlName="End_Date">
          </nz-date-picker>
        </nz-form-item>
        <nz-form-item>
          <div>
            <nz-form-label nz-tab-label>Campaign Budget</nz-form-label>
          </div>
          <nz-form-control nzErrorTip="Please enter campaign budget">
            <input nz-input type="number" formControlName="CampaignBudget">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <div>
            <nz-form-label nz-tab-label>Expected Revenue</nz-form-label>
          </div>
          <nz-form-control nzErrorTip="Please enter expected revenue">
            <input nz-input type="number" formControlName="ExpectedRevenue">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nz-tab-label>Campaign Status</nz-form-label>
          <nz-select formControlName="CampaignStatusId" nzShowSearch nzPlaceHolder="Select status">
            <nz-option *ngFor="let option of campaignStatusList" [nzLabel]="option.Status"
                       [nzValue]="option.CampaignStatusId"></nz-option>
          </nz-select>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nz-tab-label>Marketing Type</nz-form-label>
          <nz-select formControlName="MarketingTypeId" nzShowSearch nzPlaceHolder="Select type">
            <nz-option *ngFor="let option of marketingTypesList" [nzLabel]="option.MarketingTypeName"
                       [nzValue]="option.MarketingTypeId"></nz-option>
          </nz-select>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nz-tab-label>Marketing Type</nz-form-label>
          <nz-select formControlName="MarketingStrategyId" nzShowSearch nzPlaceHolder="Select strategy">
            <nz-option *ngFor="let option of strategyList" [nzLabel]="option.StrategyName"
                       [nzValue]="option.MarketingStrategyId"></nz-option>
          </nz-select>
        </nz-form-item>
      </nz-card>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="14" nzLg="14" nzXl="16" nzXXl="16">
      <nz-card>
        <nz-form-item>
          <nz-form-label nz-tab-label>Select template</nz-form-label>
          <nz-select formControlName="TemplateId" (ngModelChange)="changeEmailTemplate($event)" nzShowSearch
                     nzPlaceHolder="Select template">
            <nz-option *ngFor="let option of emailTemplateList" [nzLabel]="option.TemplateName"
                       [nzValue]="option.TemplateId"></nz-option>
          </nz-select>
        </nz-form-item>
        <ckeditor *ngIf="emailTemplateDesignData" [data]="emailTemplateDesignData"
                  (change)="onChangeTemplate($event)"></ckeditor>
        <nz-form-label class="pl-0 pr-0" nz-tab-label>Select Customers</nz-form-label>
        <nz-form-item>
          <nz-table class="w-100"
                    #rowSelectionTable
                    nzShowPagination
                    nzShowSizeChanger
                    [nzData]="customerList">
            <thead>
            <tr>
              <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
              <th>Name</th>
              <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
              <td
                [nzChecked]="data.checked"
                (nzCheckedChange)="onItemChecked(data.CustomerID, $event)"
              ></td>
              <td>{{ data.CustomerName }}</td>
              <td>{{ data.Email }}</td>
            </tr>
            </tbody>
          </nz-table>
        </nz-form-item>
      </nz-card>
    </div>
  </div>
  <div nz-row [nzGutter]="[0,24]">
    <div nz-col nzSpan="24" class="create-campaign">
      <button nz-button nzType="primary" [disabled]="campaign.invalid" (click)="addCampaign()"
              [nzLoading]="campaignCreateLoader">{{editCampaignId ? 'Update Campaign' : 'Create Campaign'}}
      </button>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="isLoading">
  <div class="dashboard-loader">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</ng-template>
