<button nz-button  [nzType]="'primary'" (click)="Add()">Add
</button>
<nz-table #sortTable [nzData]="brandList" nzTableLayout="fixed">
    <thead>
      <tr>
        <th>Id</th>
        <th >Brand</th>
        <th >Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of brandList; index as i">
        <td>{{ i+1 }}</td>
        <td>{{ data.BrandName }}</td>
        <td> <button nz-button  [nzType]="'primary'" (click)="Edit(data)">Edit
        </button>
         <button nz-button  [nzType]="'danger'" (click)="delete(data)">Delete
        </button></td>
      </tr>
    </tbody>
  </nz-table>
