<ng-template [ngIf]="!isLoading">
  <div class="add-brand-button" *ngIf="userService.userDetails.addBrandAccess">
    <button nz-button nzType='primary' (click)="Add()">Add Brands</button>
  </div>
  <nz-table #sortTable [nzData]="brandList" nzTableLayout="fixed">
    <thead>
    <tr>
      <th>Id</th>
      <th>Brand</th>
      <th *ngIf="userService.userDetails.editBrandAccess || userService.userDetails.deleteBrandAccess">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of brandList; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ data.BrandName }}</td>
      <td *ngIf="userService.userDetails.editBrandAccess || userService.userDetails.deleteBrandAccess">
        <i *ngIf="userService.userDetails.editBrandAccess" nz-icon nzType="edit" nzTheme="outline"
           class="cursor-pointer" nzTooltipTitle="Edit" nzTooltipPlacement="top"
           nz-button nz-tooltip (click)="Edit(data)"></i>
        {{'   '}}
        <i nz-icon nzType="delete" nzTheme="outline" class="cursor-pointer" nzTooltipTitle="Delete"
           nzTooltipPlacement="top" nz-button nz-tooltip nz-popconfirm
           *ngIf="userService.userDetails.deleteBrandAccess"
           nzPopconfirmTitle="Are you sure delete campaign {{data.BrandName}}"
           (nzOnConfirm)="delete(data)"
           nzPopconfirmPlacement="rightTop"></i>
      </td>
    </tr>
    </tbody>
  </nz-table>
</ng-template>
<ng-template [ngIf]="isLoading">
  <div class="dashboard-loader">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</ng-template>
