<!-- Upload  -->
<div (click)="exportToExcel()" class="export-excel">
  <i nz-icon nzType="info-circle" nzTheme="outline"></i>
  <span>Download the excel file format from here</span>
</div>
<div class="main-uploader">
  <form id="file-upload-form" class="uploader">
    <input id="file-upload" type="file" class="form-control" (change)="uploadFile($event)" placeholder="Upload file"
           accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

    <label for="file-upload" id="file-drag">
      <div id="start">
        <i nz-icon nzType="upload" style="font-size: 40px" nzTheme="outline"></i>
        <div>Select a file</div>
      </div>
    </label>
  </form>
</div>
<div class="col-md-12 table-responsive" #dummyData>
  <table class="table table-bordered" style="display: none">
    <thead class="thead-dark">
    <tr>
      <th>CustomerName</th>
      <th>Email</th>
      <th>Age</th>
      <th>Mobile</th>
      <th>Country</th>
      <th>State</th>
      <th>City</th>
      <th>Address</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
