<nz-table [nzData]="userList">
    <thead>
    <tr>
        <th>User Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
        <th>Edit Access</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of userList">
        <td>{{item.UId}}</td>
        <td>{{item.FName}}</td>
        <td>{{item.LName}}</td>
        <td>{{item.Role}}</td>
        <td><a class="btn" [routerLink]="['../update-role',item.UId]"><i nz-icon nzType="edit" nzTheme="outline"></i></a></td>
    </tr>
    </tbody>
</nz-table>