<ng-template [ngIf]="!isLoading">
  <nz-table [nzData]="listOfDisplayData" #basicTable>
    <thead>
    <tr>
      <th>First Name
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>Last Name</th>
      <th>Role</th>
      <th>Edit Access</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of basicTable.data">
      <td>{{item.FName}}</td>
      <td>{{item.LName}}</td>
      <td>{{item.Role}}</td>
      <td>
        <i [routerLink]="['../','roles','edit',item.UId]" nz-icon nzType="edit" nzTooltipTitle="Update role"
           nzTooltipPlacement="top"
           nz-button nz-tooltip
           nzTheme="outline"></i></td>
    </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue"/>
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          Search
        </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
</ng-template>
<ng-template [ngIf]="isLoading">
  <div class="dashboard-loader">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</ng-template>
