<ng-template [ngIf]="!isLoading">
  <div class="add-campaign-button" *ngIf="userService.userDetails.addCampaignAccess">
    <button nz-button nzType="primary" routerLink="../campaign/create"><i nz-icon nzType="plus" nzTheme="outline"></i>Create
      Campaign
    </button>
  </div>
  <nz-table #basicTable [nzData]="listOfDisplayData" [nzShowSizeChanger]="true" [nzScroll]="{ y: '50vh' }">
    <thead>
    <tr>
      <th nzCustomFilter>
        Name
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>Status</th>
      <th [nzSortFn]="true" (nzSortChange)="sortByDate($event,'startDate')">Start date</th>
      <th [nzSortFn]="true" (nzSortChange)="sortByDate($event,'endDate')">End date</th>
      <th
        *ngIf="userService.userDetails.viewCampaignAccess || userService.userDetails.deleteCampainAccess|| userService.userDetails.editCampaignAccess">
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.CampaignName }}</td>
      <td>{{ data.CampaignStatus.Status }}</td>
      <td>{{ data.Start_Date | date}}</td>
      <td>{{ data.End_Date | date}}</td>
      <td
        *ngIf="userService.userDetails.viewCampaignAccess || userService.userDetails.deleteCampainAccess|| userService.userDetails.editCampaignAccess">
        <i *ngIf="data.CampaignStatus.Status !== 'Completed' && userService.userDetails.editCampaignAccess" nz-icon
           nzType="edit" nzTheme="outline"
           class="cursor-pointer" nzTooltipTitle="Edit" nzTooltipPlacement="top"
           nz-button nz-tooltip routerLink="../campaign/edit/{{data.CampaignId}}"></i>
        {{'    '}}
        <i nz-icon nzType="delete" nzTheme="outline"
           *ngIf="userService.userDetails.deleteCampainAccess && data.CampaignStatus.Status !== 'Completed'"
           class="cursor-pointer" nzTooltipTitle="Delete"
           nzTooltipPlacement="top" nz-button nz-tooltip nz-popconfirm
           nzPopconfirmTitle="Are you sure delete campaign {{data.CampaignName}}"
           (nzOnConfirm)="deleteCampaign(data)"
           nzPopconfirmPlacement="rightTop"></i>
        {{'    '}}
        <i nz-icon nzType="eye" nzTheme="outline" class="cursor-pointer" nzTooltipTitle="Details"
           nzTooltipPlacement="top"
           *ngIf="userService.userDetails.viewCampaignAccess"
           nz-button nz-tooltip routerLink="../campaign-list/detail/{{data.CampaignId}}"></i>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue"/>
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          Search
        </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
</ng-template>
<ng-template [ngIf]="isLoading">
  <div class="dashboard-loader">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</ng-template>
