<ng-template [ngIf]="!isLoading">
  <div class="add-quick-campaign-button" *ngIf="userService.userDetails.addQuickCampaignAccess">
    <button nz-button nzType="primary" routerLink="../quick-campaign-list/create/"><i nz-icon nzType="plus"
                                                                                      nzTheme="outline"></i>
      Create quick campaign
    </button>
  </div>
  <nz-table #basicTable [nzData]="listOfDisplayData" [nzShowSizeChanger]="true" [nzScroll]="{ y: '50vh' }">
    <thead>
    <tr>
      <th nzCustomFilter>
        Name
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>Start date</th>
      <th>Created on</th>
      <th>Campaign Budget</th>
      <th>Expected Revenue</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.QuickCampaignName }}</td>
      <td>{{ data.Start_Date | date}}</td>
      <td>{{ data.CreatedOn | date}}</td>
      <td>{{ data.CampaignBudget}}</td>
      <td>{{ data.ExpectedRevenue}}</td>
    </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue"/>
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          Search
        </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
</ng-template>
<ng-template [ngIf]="isLoading">
  <div class="dashboard-loader">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</ng-template>
